.HomePageWrapper{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
color:white;
}

.inputGroup{
    color: black;
    border-radius: 5px;
    width: 400px;
    font-size: 16px;
    outline: none;
    height: 50px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
}

.chatbtn{
    margin-bottom: 10px;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinbtn,.leaveBtn{
    width: 100px;
    background-color: #4aee88;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
}

.btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinbtn:hover, .leaveBtn:hover{
    background-color: #008634;
}

.newRoomButton{
    color: #4aee88;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

.newRoomButton:hover{
    color: #008634;
}

footer{
    position: fixed;
    bottom:0px;
}
footer a{
    color: #4aee88;
}
.chatside {
    position: fixed;
    top: 0;
    right: -400px; /* Initially hide the chatside off-screen */
    background-color: #1c1e29; /* Background color */
    color: #fff; /* Text color */
    padding: 16px; /* Padding for content */
    height: 100vh; /* Make it fill the entire height of the viewport */
    width: 230px; /* Set width of chatside */
    transition: right 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .chatside.active {
    right: 0; /* Display the chatside */
  }
  
  
  .chatbtn {
    margin-bottom: 10px;
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  /* Styles for chat messages */
  .chat{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2a2d3e;
  }

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.header{
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}
.leaveBtn {
    width: 100%;
    margin-top: 20px;
}

.copyBtn{
    color: black;
    background-color: white;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}